<ion-header [translucent]="true">
  <ion-toolbar [style.background-color]="'#044a42'">
    <ion-title>{{ communityName }} Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" [style.background-color]="'#f4f4f4'">
  <ion-list>
    <ion-item *ngFor="let message of messages">
      <ion-label>
        <h2>{{ message.sender }}</h2>
        <p>{{ message.text }}</p>
        <p>{{ message.timestamp.toDate() | date: 'short' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-input [(ngModel)]="newMessage" placeholder="Type a message"></ion-input>
      <ion-button slot="end" (click)="sendMessage()" style="background-color: #044a42;">
        Send
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
