<!-- src/app/chat/chat.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list lines="none">
    <ion-item *ngFor="let message of messages | async" [class.sender]="message.sender === 'You'" [class.receiver]="message.sender !== 'You'">
      <ion-label>
        <h2>{{ message.sender }}</h2>
        <p>{{ message.content }}</p>
        <ion-note>{{ message.timestamp | date:'short' }}</ion-note>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-footer>
    <ion-toolbar color="light">
      <ion-grid>
        <ion-row align-items-center>
          <ion-col size="10">
            <ion-item lines="none">
              <ion-input [(ngModel)]="newMessage" placeholder="Type a message" class="message-input"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <ion-button expand="block" fill="clear" color="primary" (click)="sendMessage()">
              <ion-icon slot="icon-only" name="send"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
</ion-content>
