<ion-header [translucent]="true">
  <ion-toolbar [style.background-color]="'#044a42'">
    <ion-title>Eventify</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" [style.background-color]="'#f4f4f4'">
  <ion-segment value="registered" (ionChange)="segmentChanged($event)" color="dark">
    <ion-segment-button value="registered">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      <ion-label>Registered</ion-label>
    </ion-segment-button>
    <ion-segment-button value="invited">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-label>Invited</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="selectedSegment === 'registered'">
    <ion-list>
      <ng-container *ngFor="let event of events">
        <ion-item *ngIf="event.registered" class="event-item">
          <ion-icon [name]="getEventTypeIcon(event.type)" slot="start" style="color: #044a42;"></ion-icon>
          <ion-label>
            <h2>{{ event.name }}</h2>
            <p>{{ event.date }} - {{ event.location }}</p>
            <p>{{ event.bio }}</p>
          </ion-label>
          <ion-button *ngIf="event.type === 'physical' && event.latitude !== undefined && event.longitude !== undefined" (click)="viewMap(event.latitude, event.longitude)" fill="outline" size="small">View Map</ion-button>
        </ion-item>
      </ng-container>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="selectedSegment === 'invited'">
    <ion-list>
      <ng-container *ngFor="let event of events">
        <ion-item *ngIf="event.invited" class="event-item">
          <ion-icon [name]="getEventTypeIcon(event.type)" slot="start" style="color: #044a42;"></ion-icon>
          <ion-label>
            <h2>{{ event.name }}</h2>
            <p>{{ event.date }} - {{ event.location }}</p>
            <p>{{ event.bio }}</p>
          </ion-label>
          <ion-button *ngIf="event.type === 'physical' && event.latitude !== undefined && event.longitude !== undefined" (click)="viewMap(event.latitude, event.longitude)" fill="outline" size="small">View Map</ion-button>
        </ion-item>
      </ng-container>
    </ion-list>
  </ng-container>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [style.background-color]="'#044a42'">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
