<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Eventify Communication</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let message of messages" class="message-item">
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>
        <h2>{{ message.sender }}</h2>
        <p>{{ message.content }}</p>
        <ion-note>{{ message.time }}</ion-note>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon name="chatbubble-ellipses"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>