.profile-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    
    .profile-image {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 2rem;
      border: 4px solid  #044a42;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    /* Add this to the component's CSS file */
.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.social-icon {
  font-size: 24px;
  cursor: pointer;
}

    
    .profile-info {
      h1 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
        color: var(--ion-color-dark);
      }
      
      p {
        font-size: 1.2rem;
        color: var(--ion-color-medium);
        margin-bottom: 1rem;
      }
    }
  }
  
  ion-card {
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    
    ion-card-header {
      background-color: #044a42;
      
      ion-card-title {
        color: var(--ion-color-light);
        font-size: 1.2rem;
      }
    }
  }
  
  .stats-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    
    .stat-item {
      ion-icon {
        font-size: 2.5rem;
        color:  #044a42;
      }
      
      h2 {
        font-size: 1.8rem;
        font-weight: bold;
        margin: 0.5rem 0;
        color: var(--ion-color-dark);
      }
      
      p {
        color:  #044a42;
      }
    }
  }
  
  ion-button {
    margin-top: 2rem;
  }
  
  @media (max-width: 576px) {
    .profile-header {
      flex-direction: column;
      text-align: center;
      
      .profile-image {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }
    
    .stats-container {
      flex-direction: column;
      
      .stat-item {
        margin-bottom: 1rem;
      }
    }
  }
  