<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="register-content">
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="register-form">
    <ion-item>
      <ion-label position="floating">Full Name</ion-label>
      <ion-input formControlName="fullName" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Role</ion-label>
      <ion-select formControlName="role">
        <ion-select-option value="Attendee">Attendee</ion-select-option>
        <ion-select-option value="Host">Host</ion-select-option>
        <ion-select-option value="Administrator">Administrator</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Gender</ion-label>
      <ion-select formControlName="gender">
        <ion-select-option value="Male">Male</ion-select-option>
        <ion-select-option value="Female">Female</ion-select-option>
        <ion-select-option value="Other">Other</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input formControlName="phoneNumber" type="tel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Membership ID</ion-label>
      <ion-input formControlName="membershipID" type="text"></ion-input>
    </ion-item>

    <!-- New Fields -->
    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input formControlName="address" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Marital Status</ion-label>
      <ion-select formControlName="maritalStatus">
        <ion-select-option value="Single">Single</ion-select-option>
        <ion-select-option value="Married">Married</ion-select-option>
        <ion-select-option value="Divorced">Divorced</ion-select-option>
        <ion-select-option value="Widowed">Widowed</ion-select-option>
        <ion-select-option value="Other">Other</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Profile Picture</ion-label>
      <input type="file" (change)="onFileChange($event)" accept="image/*">
    </ion-item>

    <ion-item>
      <ion-checkbox formControlName="terms" slot="start"></ion-checkbox>
      <ion-label>I agree to the Terms and Conditions</ion-label>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!registerForm.valid" class="register-button">Register</ion-button>
  </form>
</ion-content>
